In [1]:
print("welcome to my world")

welcome to my world

x=123456
print(x)

# markdown
## markdown
### markdown
#### markdown

# image insertion
![text](https://cdn.britannica.com/74/114874-050-6E04C88C/North-Face-Mount-Everest-Tibet-Autonomous-Region.jpg)

### ordered list
1.abc
2.efg
  1.a
  2.b
3.hij
  1.c
  2.d

### "bold and single" italic text
**gitam**

In [4]:
# variable creation
a=10
b=20
a+b

30

In [5]:
name= "gitam"
print("university:"+name)

university:gitam

In [6]:
name=input("enter the name")
age =int(input("enter the age"))
print("my name is",name,"and my age is",age)

enter the namesachin tendulkar
enter the age25
my name is sachin tendulkar and my age is 25

In [10]:
a=int(input("enter the value a"))
b=int(input("enter the value of b"))
c=a+b
d=a*b
e=a/b
print("the following are the arthematic operations","sum",c,"multiplication",d,"division",e)

enter the value a10
enter the value of b20
the following are the arthematic operations sum 30 multiplication 200 division 0.5

In [11]:
a=12
b=13.3
c=2+5j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [12]:
c=complex(3,4)
print(c)

(3+4j)

In [13]:
c1=4+5j
c2=2+6j
a=c1+c2
b=c1-c2
c=c1*c2
d=c1/c2
print("sum",a,"sub",b,"multi",c,"division",d)

sum (6+11j) sub (2-1j) multi (-22+34j) division (0.95-0.35000000000000003j)

In [14]:
a="abc"
b="efg"
print(type(a),type(b))

<class 'str'> <class 'str'>

In [16]:
s1="500"
print(type(s1))
a=int(s1)
print(type(a))
f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [17]:
a=1234
b=len(str(a))
print(b)

4

In [18]:
print("a=3,b=2")
print("[+]:",3+2,"[-]:",3-2,"[*]:",3*2,"[/]",3/2,"[**]:",3**2,"[//]:",3//2)

a=3,b=2
[+]: 5 [-]: 1 [*]: 6 [/] 1.5 [**]: 9 [//]: 1

In [20]:
# relation operator
a=2
b=3
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [21]:
# logical operators
print(3>=2 and 4<=3)
print(not 7>10)
print(not 7>3)
print(not 0)
print(not 4)

False
True
False
True
False

In [22]:
print(3>2)
print(3<2)
print(3>=2)
print(3<=2)
print(3==2)
print(3!=2)

True
False
True
False
False
True

# membership operators
# in-->true if value is found in sequence
# not in -->true if value is not found in sequence

In [23]:
list=[1,2,3,4]
print(1 in list)
print(5 in list)
print(1 not in list)
print(5 not in list)

True
False
False
True

## conditional statements
1. if
2. else
3. elif
## syntax
#### if condition
> statement<br>
#### else:
> statement

In [24]:
a=int(input("enter a number"))
if a%2 == 0:
    print("even number")
else:
    print("odd")

enter a number23
odd

In [26]:
a=int(input("enter a number"))
if a%3==0 and a%5==0:
    print("it is multiple of 3 and 5")
else:
    print("it is not multiple of 3 and 5")

enter a number15
it is multiple of 3 and 5

In [28]:
b=int(input("enter a number"))
if b==0:
    print("it is zero")
elif b>0:
    print("it is positive")
else:
    print("it is negative")

enter a number-5
it is negative

In [29]:
a=int(input("enter the year"))
if a%4==0 and a%100!=0 or a%400==0:
    print("it is a leap year")
else:
    print("its not aleap year")

enter the year2050
its not aleap year

# loop
## while loop
## for loop

In [38]:
# while loop
# print 1 to n
a=int(input("enter a number"))
i=1
while a>=i:
        print(i,end=" ") #if end=not present op=123..
        i=i+1

enter a number20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [40]:
a=int(input("enter a number"))
i=1
s=0
while a>=i:
    if i%2==0:
        s=s+i
    i=i+1
    print("sum of even numbers till" ,a,"is",s)

enter a number5
sum of even numbers till 5 is 0
sum of even numbers till 5 is 2
sum of even numbers till 5 is 2
sum of even numbers till 5 is 6
sum of even numbers till 5 is 6