<a href="https://colab.research.google.com/github/shashkanth1999/CRT-program1/blob/master/Copy_of_04_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print("welcome")

welcome

In [0]:
a=10
b=13.9
c=4+2j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

# functional programming
1. simple.  
2. easy to understand
3. better reuseability
4. length of program will be subdivided

In [0]:
# syntax 
def function_name(<parameter>):
  statement
  return

In [0]:
# read a number and print even digits sum
 def evendigsum(n):
   s=0
   while n!=0:
     r=n%10
     if r%2==0:
       s=s+r
     n=n//10
   return s
 evendigsum(514)

4

In [0]:
def square(x):
    print(x*x)
print(square(4))

16
None

In [0]:
def square(x):
  return x*x
square(4)
q=square(5)
print(q)

25

In [0]:
def multiply(x,y=0):
  print("value of x=",x)
  print("value o0f y=",y)
  return(x*y)
print(multiply(1,2))
print(multiply(y=3,x=4))
print(multiply(3))

value of x= 1
value o0f y= 2
2
value of x= 4
value o0f y= 3
12
value of x= 3
value o0f y= 0
0

In [0]:
# swap values
def swap(x,y):
  print("x is",x)
  print("y is",y)
  t=x
  x=y
  y=t
  print("new x is",x)
  print("new y is",y)
  return x,y
swap(8,9)

x is 8
y is 9
new x is 9
new y is 8

(9, 8)

In [0]:
# large digit of the number
def largedigit(n):
    large = 0
    while n!=0:
      r=n%10
      if large < r:
        large = r
      n=n//10
    return large
largedigit(1234356789)

9

## for loop
##### syntax 1:
for i in range (start,stop,step):
> statements
##### syntax 2:
for i in interableobject:
> statements

In [0]:
def print_series(lb,ub):
  for x in range(lb,ub+1):
    print(x,end = " ")
  return
print_series(1,20)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

## collection types:
1. list
2. tuple
3. set
4.dictionary

## list:
1. one of the data structure in python.
2. data structur have store,sort and search option
3. its a common data structure in python, items of the list are seperated by coma and are enclosed in []

#### example
- list1=[1,2,3,4]
- list2=["gitam",1,2,3]


- adress --> 0,1,2 (index)
     list=[1,2,3]
          -3,-2,-1 <--index

In [0]:
list = [1,2,3,4,5,6,7,8]
print(list)
print(list[2])
print(list[-6])
print(list[2:])
print(list[2:5])
print(list[6:-3])

[1, 2, 3, 4, 5, 6, 7, 8]
3
3
[3, 4, 5, 6, 7, 8]
[3, 4, 5]
[]

In [0]:
lili=[1,2,3,'gitam']
print(lili)
lili[2]=475
print(lili)
lili[3]=34
print(lili)
lili[1]='tour'
print(lili)

[1, 2, 3, 'gitam']
[1, 2, 475, 'gitam']
[1, 2, 475, 34]
[1, 'tour', 475, 34]